/* Common styles */
@import url('./reset.css');
@import url('./container.css');
@import url('./animations.css');

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}

.form {
  display: flex;
  position: relative;
  gap: 5px;
  justify-content: center;
  margin: 20px auto;
  width: 370;
}

.search-input {
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.search-input:hover {
  border-color: black;
}

.search-input:focus {
  border-color: #4e75ff;
}

.form button {
  font-weight: 600;
  width: 90px;
  background-color: #4e75ff;
  color: #ffff;
  padding: 8px 16px;
  border: 1px solid;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
  font-weight: 400;
}

.form button:hover {
  background-color: #6c8cff;
}

button[type='submit']::first-line {
  color: #fff;
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.gallery {
  text-align: center;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 25px;
  row-gap: 25px;
  padding: 0 10px;
}

.gallery-item {
  border: 1px solid #808080;
  width: 350px;
  height: 300px;
  list-style-type: none;
  top: 332px;
  left: 540px;
}

.gallery-item:hover {
  transform: scale(1.04);
}

.item-text {
  display: flex;
  flex-direction: row;
  width: 360px;
  height: 48px;
  flex-shrink: 0;
  margin-top: 4px;
}

.top-item-text {
  font-weight: 600;
  color: #2e2f42;
}

.numbers {
  font-weight: 400;
  color: #2e2f42;
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.hidden {
  display: none;
  opacity: 0;
}
